:root {
    --title-font: "Edu TAS Beginner", cursive;
    --date-font: "Sometype Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    background-image: url('../img/wall.png');
}

h1 {
    padding: 24px;
    text-align: center;
    font-family: var(--title-font);
    /* font-size: 4em; */
    font-size: clamp(3rem, 5vw, 5rem);;
    text-transform: uppercase;
}

main {
    background-image: url('../img/cork.png');
}

.container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    position: relative;
    padding: 20px;
    background-color: #fff;
    cursor: pointer;
}

.card .card-content > img {
    width: 600px;
}

@media screen and (max-width: 992px) {
    .card .card-content > img {
        width: 400px;
    }
}

.card-info {
    padding-top: 10px;
}

.card-info h4 {
    font-family: var(--title-font);
    font-size: 2rem;
    text-transform: uppercase;
}

.card-info .date {
    font-family: var(--date-font);
    color: gray;
    font-weight: 800;
}

.pin {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(90, 90, 90, 0.671);

    justify-content: center;
    align-items: center;
}

.close-modal {
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: -20px;
    right: -20px;
    font-weight: 800;
    font-size: 30px;
    font-family: var(--date-font);
    background: red;
    color: #fff;
    border-radius: 50%;
}