:root {
    --title-font: "Edu TAS Beginner", cursive;
    --date-font: "Sometype Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    background-image: url('../img/wall.png');
}

h1 {
    padding: 24px;
    text-align: center;
    font-family: var(--title-font);
    /* font-size: 4em; */
    font-size: clamp(3rem, 5vw, 5rem);
    ;
    text-transform: uppercase;
}

main {
    background-image: url('../img/cork.png');
}

.container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    position: relative;
    padding: 20px;
    background-color: #fff;
    cursor: pointer;
}

.container .card:hover {
    animation: scaleRotate 0.5s forwards;
    z-index: 1;
}

/* animation effect */
@keyframes scaleRotate {
    0% {
        transform: scale(1) rotate(0deg);
    }

    100% {
        transform: scale(1.1) rotate(10deg);
    }
}

/* card */
.container .card:hover .pin {
    display: none;
}

.card .card-content>img {
    width: 600px;
}

/* responsive */
@media screen and (max-width: 992px) {
    .card .card-content>img {
        width: 400px;
    }
}

.card-info {
    padding-top: 10px;
}

.card-info h4 {
    font-family: var(--title-font);
    font-size: 2rem;
    text-transform: uppercase;
}

.card-info .date {
    font-family: var(--date-font);
    color: gray;
    font-weight: 800;
}


.pin {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(90, 90, 90, 0.671);
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.modal img {
    width: 600px;
}

.modal-btn {
    max-width: 220px;
    padding: 10px 40px;
}

.is-visible {
    display: flex;
}